.bidderTabHeader {
    display: flex;
    justify-content: space-around;
}

.bidderTabHeader h4 {
    font-weight: normal;
    font-size: 14px;
}

.bidderTabHeader h5 {
    font-weight: normal;
    font-size: 12px;
}

