.wrapper {
  padding: 10px;
  margin: 20px;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.auctionTab {
  display: block;
  flex: 1;
  height: min-content;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 30px;
}

.bidderTab {
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 30px;
  margin: 4px 0 0 10px;
  width: 380px;
}

.addBidder {
  text-align: center;
}
.biddersWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
}

.btn-placeBid {
  margin-top: 5px;
}